services:
  web:
    build:
      context: ./apps/client
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:8081:80"
    restart: always
    networks:
      - app-network

  server:
    build:
      context: ./apps/server
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:3001:3000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/readerhelper
      - OLLAMA_HOST=http://host.docker.internal:11434
      - PORT=3000
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network
    extra_hosts:
      - "host.docker.internal:host-gateway"

  postgres:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=readerhelper
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:5433:5432"
    networks:
      - app-network

  caddy:
    image: caddy:alpine
    restart: always
    ports:
      - "${CADDY_PORT_PROD:-443}:443"
      - "80:80"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data_prod:/data
    depends_on:
      - server
      - web
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data_prod:
  caddy_data_prod:
