services:
  web:
    build:
      context: ./apps/client
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    restart: always
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
