.textArea {
    font-size: 1.25rem;
    line-height: 1.8;
    color: hsl(var(--foreground));
    white-space: pre-wrap;
    width: 100%;
    padding: 3rem;
    padding-bottom: 3rem;
}

@media (max-width: 1200px) {
    .textArea {
        max-width: 90%;
        margin: 0 auto;
        padding: 1rem 0;
    }
}

/* Custom Scrollbar */
.textAreaContainer::-webkit-scrollbar {
    width: 6px;
}

.textAreaContainer::-webkit-scrollbar-track {
    background: transparent;
}

.textAreaContainer::-webkit-scrollbar-thumb {
    background-color: hsl(var(--muted-foreground) / 0.2);
    border-radius: 10px;
}

.textAreaContainer::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--muted-foreground) / 0.4);
}